body {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
  }
  .nav {
    top: 0%;
    height: 70px;
    width: 100%;
    background-color: black;
    padding-top: 40px;
    padding-left: 40px;
    position: fixed;
    font-family: roboto;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding-right: 50px;
  }
  .other {
    padding-left: 1300px;
  }
  .book-link {
    color: blue;
    font-size: 16px;
  }
  table {
    width: 100%;
    text-align: center;
  }

  table,td,tr,th {
    border: 1px solid rgb(206, 206, 206);
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  p,label {
    font-size: 16px;
  }
  input {
    margin-top: 0px;
    width: 100%;
    height: 40px;
    border-color: grey;
    border-style: solid;
  }
  input:hover{
    border-color: blue;
    border-width: 5px;
  }
  .sub{
    color: white;
    background-color: black;
    width: 100%;
    height: 40px;
    margin-top: 10px;
  }
  #books,
  #register {
    background-color: white;
    height: 800px;
    width: 1200px;
    margin-left: 550px;
    margin-top: 200px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: roboto;
    margin-bottom: 50px;
  }
  input{
    margin-bottom: 30px;
  }